<header>
  <div class="logo">exhange</div>
  <div class="rate">
    <div class="eu">
      <span class="image"> <img src="assets/images/eu.png" alt="eu" /> </span>
      <span class="buy"><i>BUY:</i> {{ euRateBuy }} UAH</span>
      <span class="sell"><i>SELL:</i> {{ euRateSell }} UAH</span>
    </div>
    <div class="usd">
      <span class="image"> <img src="assets/images/usd.png" alt="usd" /> </span>
      <span class="buy"><i>BUY:</i> {{ usdRateBuy }} UAH</span>
      <span class="sell"><i>SELL:</i> {{ usdRateSell }} UAH</span>
    </div>
  </div>
</header>
